@model MVCRep_2_.Models.Logincls
@{
    ViewBag.Title = "Login_Load";
}

<h2>User LogIn</h2>
<div>

    @using (Html.BeginForm("Login_click", "UserLogin", FormMethod.Get)) 
    { 
        <div>
        <label>User Name</label>
        </div>
         <div>
        @Html.TextBoxFor(m=>m.Uname)
        @Html.ValidationMessageFor(m=>m.Uname)
        </div>
    <div>
        <label>Password</label>
    </div>
    <div>
        @Html.PasswordFor(m=>m.password)
        @Html.ValidationMessageFor(m=>m.password)
    </div>
    <div>
        <input type="submit" value="Login"/>
        @Html.DisplayFor(m=>m.msg)
    </div>
    }
</div>

